osx_image: xcode8
language: objective-c
sudo: false
before_install:
    - rvm get head
    - npm cache clean -f
    - npm install -g n
    - n stable
    - node --version
    - xcodebuild -version
install:
    - npm install
script:
    - npm test
