<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-wkwebview-engine-tests" version="1.1.2">
  <name>cordova-plugin-wkwebview-engine Tests</name>
  <license>Apache 2.0</license>
  <js-module src="tests.js" name="tests"/>
</plugin>
